<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container-fluid my-auto">
      <div class="row">
        <div class="col text-left">
          <span class="copyright" >Escuela Superior de Cómputo | ESCOM </span>
        </div>
        <div class="col text-center">
          <span class="copyright" >Secrecy for the government </span>
        </div>
        <div class="col text-right">
          <span class="copyright" >Cryptography </span>
        </div>
      </div>
    </div>
</footer>
<!-- End of Footer -->