{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block  content %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Archivo</th>
        <th scope="col" class="text-center">Descargar</th>
        <th scope="col" class="text-center">Borrar</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
        {{ macros.render_file(loop.index,file,delete_form,download_form) }}
      {% endfor %}
    </tbody>
  </table>

{% endblock %}