{% extends 'bootstrap/base.html' %}

{% block head %}
{{ super() }}

<title>
	{% block title %} Claves {% endblock %}
</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.css')}}">

{% endblock %}

{% block  content %}
	<body class="bg-gradient-primary">
		<div class="container">
			<div class="row justify-content-center">
				<div class="card text-center w-50 my-5">
					<div class="card-header">
						<h1>¡Bienvenido!</h1>
					</div>
					<div class="card-body">
						<h2 class="card-title">Generación de claves</h5>
						<p class="card-text">
							<div class="alert alert-success" role="alert">
								¡Hemos generado tu clave pública y privada!
							</div>
							Con estas claves mantendremos tus documentos seguros, por lo tanto, es muy importante 
							que no pierdas tu clave privada, ya que solo con ella podrás recuperar todo lo que 
							subas a partir de este momento.<br>
							<strong>Descarga tu clave privada para poder tener acceso a la página inicio.</strong>
						</p>
						<a href="{{ url_for('index') }}" id="foo:bar" class="btn btn-primary">Descargar clave Privada</a>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type=text/javascript>
    	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  	</script>
  	<script src="{{ url_for( 'static' , filename='js/downloadFile.js') }}"></script>
  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  	<script src="{{ url_for( 'static' , filename='js/generateKey.js') }}"></script>
{% endblock %}
