{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block head %}
    {{ super() }}

    <title>
        {% block title %} Login {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sb-admin-2.css')}}">
{% endblock %}

{% block body %}
    <body class="bg-gradient-primary">
        <!-- flash handler -->
			{%for message in get_flashed_messages()%}
				<div class="alert alert-success alert-dismissible">
					<button type="button" 
						data-dismiss="alert"
						class="=close">&times;</button>
						{{message}}
				</div>
			{%endfor%}
        <!-- /flash handler -->
        
        <!-- container -->
        <div class="container">
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                        </div>
                                        <hr>
                                        {{ wtf.quick_form(login_form) }}
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="#">Forgot Password?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->

    <!-- scripts -->
    {% block scripts %}
        {{ super() }}
    {% endblock %}
    <!-- scripts -->
    </body>
{% endblock %}