{% import 'bootstrap/wtf.html' as wtf %}


{% macro render_file(num,file,delete_form,download_form) %}
    <tr>
        <th scope="row">{{num}}</th>
        <td>{{file}}</td>
        <td><a href="{{ url_for( 'index' , file=file ) }}" > <img id="icon-download" src="{{ url_for( 'static' , filename='images/download.png' ) }}" > </a></td>
        <td><a href="{{ url_for( 'index' , file=file ) }}"> <img id="icon-delete" src="{{ url_for( 'static' , filename='images/delete.png' ) }}" > </a></td>
    </tr>
{% endmacro %}
