{% import 'bootstrap/wtf.html' as wtf %}


{% macro render_file(num,file) %}
    <tr>
        <th scope="row">{{num}}</th>
        <td>{{file}}</td>
        <td class="text-center"><a onclick = "recuperar('{{file}}');" role="button"> <img id="icon-download" src="{{ url_for( 'static' , filename='images/download.png' ) }}" > </a></td>
        <!--<td class="text-center"><a href="{{ url_for( 'delete' , file=file ) }}"> <img id="icon-delete" src="{{ url_for( 'static' , filename='images/delete.png' ) }}" > </a></td>-->
        <td class="text-center"><a onclick = "borrar('{{file}}');" role="button"> <img id="icon-delete" src="{{ url_for( 'static' , filename='images/delete.png' ) }}" > </a></td>
    </tr>
{% endmacro %}
{% macro render_users(id,name) %}
    <tr>
        <th scope="row">{{id}}</th>
        <td>{{name}}</td>
        <td class="text-center"><a data-toggle="modal" data-target="#settingsUser" href="#settingsUser"> <img id="icon-download" src="{{ url_for( 'static' , filename='images/config.png' ) }}" > </a></td>
        <td class="text-center"><a href="{{ url_for( 'admin.delete_users' , id = id ) }}"> <img id="icon-delete" src="{{ url_for( 'static' , filename='images/delete.png' ) }}" > </a></td>
    </tr>
{% endmacro %}
