{% import 'bootstrap/wtf.html' as wtf %}

<!-- Upload key Modal -->
<div class="container">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">¡Ingresa tu llave privada!</h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-6 offset-3">
                        <input id ="file_key" type="file" name="file" data-filename=""> 
                            <label class="btn btn-outline-primary btn-block" for="file_key">Selecciona tu clave</label>
                        </input>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
        
    </div>
    </div>
</div>
<!-- /Upload key Modal -->

<!-- Error modal -->
<div class="container">
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">¡UPS! ocurrio un error al cargar tu archivo, intenta de nuevo</h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
        
    </div>
    </div>
</div>
<!-- /Error modal Modal -->

<!-- Error modal -->
<div class="container">
    <div class="modal fade" id="errorRSA" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">¡UPS! ocurrio un error al obtener tu archivo, asegurate de haber ingresado la llave privada correcta</h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cerrar</button>
        </div>
        </div>
        
    </div>
    </div>
</div>
<!-- /Error modal Modal -->

<!-- Confirm Delete Modal-->
<div class="container">
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">¿Seguro que deseas eliminar este elemento?</h4>
        </div>
        <div class="form-group col-12">
            <a id="error_delete" href="" class="btn btn-primary btn-block"> Aceptar </a>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cancelar</button>
        </div>
        </div>
        
    </div>
    </div>
</div>
<!-- /Confirm Delete Modal-->

<!-- Upload file Modal -->
<div class="container">
    <div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Subiendo Archivo</h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-8 offset-2">
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                            <div class="form-row align-items-center">
                                <div class="form-group col-12">
                                    <input type="file" name="file" id="files">
                                    <label class="btn btn-outline-primary btn-block" for="files"> Selecciona un archivo </label>
                                </div>
                                <div class="form-group col-12">
                                    <button type="submit" class="btn btn-primary btn-block"> Subir </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cancelar</button>
        </div>
        </div>
        
    </div>
    </div>
</div>
<!-- /Upload file Modal -->

<!-- Add user Modal -->
<div class="container">
    <div class="modal fade" id="modalUsers" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Agregar Usuario</h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-8 offset-2">
                        <form action="/admin/add_user" method="POST" enctype="multipart/form-data">
                            <div class="form-row align-items-center">
                                <div class="form-group col-12">
                                    {{ wtf.form_field( add_user.user_id , class='form-control form-control-user', type='text' , placeholder='Ingresa el número de empleado' ) }}
                                </div>
                                <div class="form-group col-12">
                                    {{ wtf.form_field( add_user.username , class='form-control form-control-user', type='text' , placeholder='Ingresa el nombre del empleado' ) }}
                                </div>
                                <div class="form-group col-12">
                                    {{ wtf.form_field( add_user.password , class='form-control form-control-user', type='password' , placeholder='Ingresa la contraseña del empleado' ) }}
                                </div>
                                <div class="form-group col-12">
                                    {{ wtf.form_field( add_user.submit , class='btn btn-primary btn-user btn-block', type='submit' ) }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cancelar</button>
        </div>
        </div>
        
    </div>
    </div>
</div>
<!-- /Add user Modal -->

<!-- Setting Modal -->
<div class="container">
    <div class="modal fade" id="settingsUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Configuración</h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-8 offset-2">
                        <form action="/settings" method="POST" enctype="multipart/form-data">
                            <div class="form-row align-items-center">
                                <div class="form-group col-12 text-center">
                                    <h3> Restablecer valores </h3>
                                </div>
                                <div class="form-group col-12">
                                    {{ wtf.form_field( settings.username , class='form-control form-control-user', type='text' , placeholder='Ingresa el nuevo nombre' ) }}
                                </div>
                                <div class="form-group col-12">
                                    {{ wtf.form_field( settings.password , class='form-control form-control-user', type='password' , placeholder='Ingresa tu nueva contraseña ' ) }}
                                </div>
                                <div class="form-group col-12">
                                    {{ wtf.form_field( settings.submit , class='btn btn-primary btn-user btn-block', type='submit' ) }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cancelar</button>
        </div>
        </div>
        
    </div>
    </div>
</div>
<!-- Setting Modal -->

<!-- Keys Modal -->
<div class="container">
    <div class="modal fade" id="newKeys" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Configuración</h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-8 offset-2">
                        <div class="row align-items-center">
                            <div class="col-12 text-center">
                                <h2> Cambiar claves </h2>
                            </div>
                            <div class="col-12">
                                <a href="{{ url_for('auth.keygen') }}" id="foo:bar" class="btn btn-primary btn-block"> Generar </a>
                            </div>
                            <div class="col-12">
                                <div class="alert alert-danger text-center" role="alert">
                                    <strong class="text-uppercase"> Si cambias tus claves se perderan todos tus archivos. </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Cancelar</button>
        </div>
        </div> 
    </div>
    </div>
</div>
<!-- /Keys Modal -->